@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500600,700,800,900%display=swap');


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  font-family: "Poppins", sans-serif;
  font-size: small;
}

.card {
  width: 190px;
  height: 120px;
  padding: 0.5rem;
  background: rgba(198, 198, 198, 0.34);
  border-radius: 8px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: absolute;
  border-bottom: 3px solid rgba(255, 255, 255, 0.440);
  border-left: 2px  rgba(255, 255, 255, 0.545) outset;
  -webkit-box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.280);
          box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.280);
  -webkit-transform: skewX(10deg);
      -ms-transform: skewX(10deg);
          transform: skewX(10deg);
  -webkit-transition: .4s;
  transition: .4s;
  overflow: hidden;
  color: white;
  
}

.card:hover {
  height: 254px;
  -webkit-transform: skew(0deg);
      -ms-transform: skew(0deg);
          transform: skew(0deg);
}

.align {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.red {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff605c;
  -webkit-box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
          box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.yellow {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffbd44;
  -webkit-box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
          box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.green {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00ca4e;
  -webkit-box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
          box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.card h1 {
  text-align: center;
  margin: 1.3rem;
  color: rgb(218, 244, 237);
  text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
  
}

